name: Docker CI/CD Pipeline

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }} # Titkokban tárolt felhasználónév
          password: ${{ secrets.DOCKERHUB_TOKEN }}   # Titkokban tárolt token

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/hello-devops:latest # Kicserélni a saját Docker Hub nevedre

      - name: Display Image Info (for confirmation)
        run: echo "Successfully pushed image to ${{ secrets.DOCKERHUB_USERNAME }}/hello-devops:latest"